<p id="notice"><%= notice %></p>


<div class="justify-content-center" style="display: flex;">
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>First name:</strong>
        <%= @student.first_name %>
      </li>
      <li class="list-group-item">
        <strong>Last name:</strong>
        <%= @student.last_name %>
      </li>
      <li class="list-group-item">
        <strong>Age:</strong>
        <%= @student.age %>
      </li>
      <li class="list-group-item">
        <strong>Education:</strong>
        <%= @student.education %>
      </li>
    </ul>
  </div>
</div>

<br>


<%= link_to 'Edit', edit_student_path(@student), class: "btn btn-primary text-white" %> |
<%= link_to 'Back', students_path, class: "btn btn-primary text-white" %>

